html {
    body {
        background-color: #888;

        .foo {
            background-image: url("../image/image.png");
            background-size: cover;
            width: 267px;
            height: 285px;
        }
    }
}