@charset "UTF-8";
@import "foo";

html {
    body {
        background-color: #888;

        .foo {
            background-size: cover;
            width: 267px;
            height: 285px;
        }
    }
}